<!DOCTYPE html>
<html lang="ja" id="facemock" class>
  <head>
    <meta charset="utf-8">
    <title id="pageTitle">Facemock</title>
  </head>
  <body>
    <div class="_li">
      <a class="lfloat _ohe" href="/" title="トップへ移動">Top</a>
      <div id="globalContainer" class="uiContextualLayerParent">
        <div id="content" class="fb_content clearfix">
          <div class="UIFullPage_Container">
            <div class="mvl ptm uiInterstitial login_page_interstitial uiInterstitialLarge uiBoxWhite">
              <div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
                <div class="clearfix uiHeaderTop">
                  <div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
                    <h2 class="accessible_elem">Facemockログイン</h2>
                  </div>
                  <div class="phl ptm uiInterstitialContent">
                    <div class="login_form_container">
                      <form id="login_form" accept-charset="UTF-8" action="/facemock/oauth" method="post">
                        <input type="hidden" name="lsd" value="AVo09EiL" autocomplete="off">
                        <div class="hidden_elem"></div>
                        <div id="loginform">
                          <div class="form_row clearfix">
                            <label for="email" class="login_form_label">メールまたは電話番号:</label>
                            <input type="text" class="inputtext" id="email" name="email" value="">
                          </div>
                          <div class="form_row clearfix">
                            <label for="pass" class="login_form_label">パスワード:</label>
                            <input type="password" name="pass" id="pass" class="inputpassword">
                          </div>
                          <div class="persistent">
                            <div class="uiInputLabel clearfix uiInputLabelLegacy">
                              <input id="persist_box" type="checkbox" value="1" checked="1" name="persistent" class="uiInputLabelInput uiInputLabelCheckbox">
                              <label for="persist_box" class="uiInputLabelLabel">ログインしたままにする</label>
                            </div>
                          </div>
                          <div id="buttons" class="form_row clearfix">
                            <label class="login_form_label"></label>
                            <div id="login_button_inline">
                              <label class="uiButton uiButtonConfirm uiButtonLarge" id="loginbutton" for="u_0_1">
                                <input value="ログイン" name="login" type="submit" id="u_0_1">
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
